* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: #ff7f17;
    max-width: 1300px;
    max-height: auto;
    border: 1cm solid white;
    padding: 30px 0;
}

#fotoPerfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 12px double white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    text-align: center;
    color: white;
    padding: 15px 0;
}

p {
    text-align: center;
    color: white;
    padding: 15px 0;
}